@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* DEFAULTS/RESETS */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-size: 2.25rem;
}

p {
    line-height: 1.5;
    font-size: 1rem;
}

a {
    text-decoration: none;
    position: relative;
}

.link__hover-effect::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect--black:after {
    background-color: var(--purple-primary);
}

.link__hover-effect--white:after {
    background-color: #fff;
}

.link__hover-effect:hover::after {
    width: 100%;
    left: 0;
}

li {
    list-style-type: none;
}

section:nth-child(even) {
    background-color: var(--background-secondary);
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px;
}

.text--purple {
    color: var(--purple-primary);
}

.bold {
    font-weight: bold;
}

.container {
    padding: 50px 0;
}

.section__title {
    margin-bottom: 20px;
}

.smaller {
    transform: scale(0.9);
}
/* END OF DEFAULTS/RESETS */



/* VARIABLES */
:root {
    --purple-primary: #6030b1;
    --background-secondary: #f8f8f8;
}
/* END OF VARIABLES */



/* NAVIGATION BAR */
nav {
    height: 100px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;
    color: #242424;
    font-weight: 700;
}

.nav__link--anchor-primary {
    background-color: var(--purple-primary);
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    background-color: #5d3eff;
}

.personal__logo {
    font-size: 1.5rem;
    color: var(--purple-primary);
    margin: 0 12px;
    font-weight: bold;
}
/* END OF NAVIGATION BAR */



/* ABOUT */
#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info {
    display: flex;
    flex-direction: column;
}

.about-me__info--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

.about-me__picture--mask {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
    margin-bottom: 28px;
    animation: animate-profile-picture 800ms 200ms backwards;
}

@keyframes animate-profile-picture {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.about-me__picture {
    width: 100%;
}

.about-me__info--title {
    margin-bottom: 16px;
    animation: fade-up 650ms 400ms backwards;
}

.about-me__info--para {
    font-size: 1.5rem;
    margin-bottom: 24px;
    animation: fade-up 650ms 600ms backwards;
}
.about-me__links {
    animation: fade-up 650ms 800ms backwards;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.about-me__link {
    font-size: 20px;
    color: #242424;
    padding: 0 12px;
    margin: 0 2px;
    transform: scale(1);
    transition: all 300ms ease;
}

.about-me__link:hover {
    opacity: 0.95;
}

.about-me__link:hover i {
    transition: all 300ms ease;
    transform: scale(1.1);
}

.about-me__img--container {
    flex: 1;
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.about-me__img {
    width: 100%;
    animation: fade-in 650ms 900ms backwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* END OF ABOUT */



/* LANGUAGES */
.language__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.language {
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
}

.language__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
}

.language__img {
    width: 100%;
    max-width: 100px;
    transition: all 300ms ease;
}

.language:hover .language__img {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}

.language__name {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms ease;
    font-size: 1.25rem;
}

.language:hover .language__name {
    transform: scale(1);
}
/* END OF LANGUAGES */



/* PROJECTS */
.project {
    margin-bottom: 135px;
}

.project:last-child {
    margin-bottom: 40px;
}

.project__img {
    width: 100%;
    transition: all 500ms ease;
}

.project__wrapper {
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    position: relative;
}

.project__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: opacity 450ms ease;
    z-index: 2;
}

.project:hover .project__wrapper::before {
    opacity: 0.7;
}

.project:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
}

.project:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}

.project__list {
    padding-top: 40px;
}

.project__description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    max-width: 550px;
    z-index: 3;
    opacity: 0;
    transition: transform 450ms, opacity 300ms;
}

.project__description--title {
    font-size: 2.5rem;
}

.project__description--para {
    margin: 16px 0;
}

.project__description--link {
    font-size: 1.25rem;
    margin-right: 16px;
}

.project__description--title,
.project__description--para,
.project__description--sub-title,
.project__description--link {
    text-align: left;
    color: #fff;
}
/* END OF PROJECTS */



/* FOOTER */
footer {
    background-color: #242424;
}

.footer__anchor {
    position: relative;
    margin-bottom: 20px;
}

.footer__anchor:hover .footer__logo--popper {
    transform: translateX(60px);
    opacity: 1;
}

.footer__logo--popper {
    color: #fff;
    position: absolute;
    right: 0;
    top: 30px;
    font-weight: 700;
    opacity: 0;
    transition: all 300ms ease;
}

.footer__social--navigation {
    margin-bottom: 24px;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
}

.footer__row {
    padding: 3% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__logo--img {
    width: 70px;
    height: 70px;
}

.footer__social--link  {
    color: #fff;
}
/* END OF FOOTER */



/* MEDIA QUERIES */
/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {
    nav {
        height: 68px;
    }

    h1 {
        font-size: 1.75rem;
    }

    .about-me__info--para {
        font-size: 1.125rem;
    }

    .language {
        width: calc(100% / 2);
    }

    .project__description--para {
        font-size: 0.8rem;
    }

    .project__description {
        left: 50px;
        padding-right: 90px;
    }
}

/* SMALL PHONES */
@media (max-width: 480px) {
    .nav__link:not(:last-child) {
        display: none;
    }

    .project__description {
        padding: 0;
        left: 0;
        width: 100%;
    }

    .project__description--para {
        display: none;
    }

    .project__description--links {
        display: flex;
        justify-content: center;
    }

    .project__description--title {
        line-height: 1;
        font-size: 2rem;
        text-align: center;
    }

    .project__description--sub-title {
        text-align: center;
        margin: 12px 0;
    }
}